<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>GovServiceWeb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div id="app" class="app">
  <p class="loading" v-if="!isLoaded">Loading...</p> 
  <ul>
    <li class="area" v-for="(list, key) in services">
      <h2>{{ key }}</h2>
      <ul>
        <li class="service-entry" v-for="service in list">
          <service-item v-bind:service="service"></service-item>
        </li>
      </ul>
    </li>
  </ul>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
